body{background-color: rgb(250, 220, 0);) }
h1{text-align: center;font-size:22px;color: green}
p{text-align: left;font-style: italic;font-size:55px;color: blue}
#imagem1{border: 10px solid black}
